.config/nvim/lazy-lock.json
.config/nvim/.neoconf.json
.config/nvim/history
.config/alacritty/alacritty.toml

.bash_history
.bash_logout
.bash_profile
.bashrc
.cache
.cargo
.config
Descargas
.dmrc
Documentos
.eos-wallpaper-set.history-of-wallpapers
Escritorio
.face
.gitconfig
.gitignore
.gnupg
.ICEauthority
Imágenes
.local
Música
.npm
.pki
Plantillas
Público
.pulse-cookie
.python_history
repos
.rustup
.ssh
.steam
.steampath
.steampid
.tmux.conf
Vídeos
.viminfo
watchfiles
.wine
.Xauthority
.Xresources
.xsession-errors
.xsession-errors.old
.zynaddsubfx-bank-cache.xml

.config/amsynth
.config/ardour8
.config/audacity
.config/AudioVitamins
.config/autostart
.config/BraveSoftware
.config/Cardinal
.config/dconf
.config/EOS-greeter.conf
.config/eos-log-tool
.config/geonkick
.config/glib-2.0
.config/gtk-2.0
.config/gtk-3.0
.config/gtk-4.0
.config/htop
.config/libreoffice
.config/menus
.config/mimeapps.list
.config/Mousepad
.config/pavucontrol.ini
.config/Projucer
.config/pulse
.config/qalculate
.config/reflector-simple-free-params.txt
.config/SFZTools
.config/sonic-visualiser
.config/stylua.toml
.config/term
.config/Thunar
.config/user-dirs.dirs
.config/user-dirs.locale
.config/Vaporizer2
.config/xfce4
